@using Microsoft.AspNetCore.Html
@using MenuItem = Inferno.Web.Navigation.MenuItem
@inject Inferno.Web.Navigation.INavigationManager navigationManager

@{
    var menuItems = navigationManager.BuildMenu("Admin");

    Func<MenuItem, IHtmlContent> DisplayMenuItems = null;
    DisplayMenuItems = (menuItem) => new Func<MenuItem, IHtmlContent>(
        @<text>
        <li class="@(menuItem.Items.Any() ? "dropdown" : "") @(menuItem.Selected ? "active" : "")">
            @if (menuItem.Items.Any())
            {
                <a href="@menuItem.Href" style="cursor: pointer;" data-toggle="dropdown">
                    @if (!string.IsNullOrEmpty(menuItem.Icon))
                    {
                        <i class="@menuItem.Icon"></i>@:&nbsp;
                    }
                    <span>@menuItem.Text</span>
                </a>
                <ul class="dropdown-menu">
                    @foreach (var childMenuItem in menuItem.Items)
                    {
                        @DisplayMenuItems(childMenuItem)
                    }
                </ul>
            }
            else
            {
                if (!string.IsNullOrEmpty(menuItem.Href))
                {
                    <a href="@menuItem.Href" style="cursor: pointer;">
                        @if (!string.IsNullOrEmpty(menuItem.Icon))
                        {
                            <i class="@menuItem.Icon"></i>@:&nbsp;
                        }
                        <span>@menuItem.Text</span>
                    </a>
                }
            }
        </li>
        </text>)(null);
}

<ul class="nav navbar-nav" id="primary-nav">
    @foreach (var menuItem in menuItems)
    {
        @DisplayMenuItems(menuItem)
    }
</ul>