@page "/admin/configuration/settings/index"
@inherits RadzenDataPage<Setting, Guid>

<h1>Settings</h1>

<Row hidden="@(ShowEditMode == true)">
    <Column ColumnSize="ColumnSize.Is12">
        <RadzenDataGrid @ref="DataGrid"
                        TItem="Setting"
                        IsLoading="@IsLoading"
                        LoadData="@LoadGridAsync"
                        Data="Records"
                        Count="@RecordCount"
                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                        FilterMode="FilterMode.Advanced"
                        AllowSorting="true"
                        AllowFiltering="true"
                        AllowPaging="true"
                        PageSize="10"
                        ColumnWidth="200px">
            <Columns>
                <RadzenDataGridColumn TItem="Setting" Property="Name" Title="Name" />
                <RadzenDataGridColumn TItem="Setting" Context="record" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="50px">
                    <Template Context="record">
                        <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="edit" Size="ButtonSize.Medium" Click="@(args => EditAsync(record.Id))" @onclick:stopPropagation="true"></RadzenButton>
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </Column>
</Row>

<Row id="form-section" hidden="@(ShowEditMode == false)">
    <Column ColumnSize="ColumnSize.Is12">
        <Card>
            <CardHeader Class="text-white bg-primary">Details</CardHeader>
            <CardBody>
                <EditForm class="form-horizontal" Model="Model" OnValidSubmit="OnValidSumbitAsync">
                    @if (EditorType is not null)
                    {
                        <div id="settings-details">
                            <DynamicComponent Type="EditorType" Parameters="@(new Dictionary<string, object> { { "Data", Model } })" />
                        </div>
                    }
                    <hr />
                    <Row>
                        <Column ColumnSize="ColumnSize.Is12">
                            <Field Class="float-end">
                                <RadzenButton ButtonType="ButtonType.Button" ButtonStyle="ButtonStyle.Secondary" Click="Cancel">
                                    @T[InfernoWebLocalizableStrings.General.Cancel]
                                </RadzenButton>
                                <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Primary">
                                    <Icon Name="IconName.Save"></Icon> @T[InfernoWebLocalizableStrings.General.Save]
                                </RadzenButton>
                            </Field>
                        </Column>
                    </Row>
                </EditForm>
            </CardBody>
        </Card>
    </Column>
</Row>